<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorator="~{layout/LayoutPadrao}">

<head>

    <title>Cadastro de Usuario</title>

</head>

	<section layout:fragment="conteudo">
		<h1></h1>
		
		<form action="/projeto/usuarios" method="POST" th:object="${usuario}">
		    <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		    	<span th:text ="${mensagem}"> Título salvo com sucesso!</span>
		    </div> 
		    <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
		    	<div th:each="detalheErro : ${#fields.detailedErrors()}">
		    		<span th:text="${detalheErro.message}"></span>
		    	</div>
		    </div>
		
		  
			<div class="panel panel-default">
				<div class="panel-heading">
					Cadastro de Usuário
					<a href="/projeto/usuarios"><i class="fa fa-dashboard fa-fw"></i>Lista de Usuários</a>
				</div>
				<div class="panel-body">
				
				
				
				 <div class="form-row">
				    <div class="form-group col-md-8" th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
				      <label for="nome" class="col-sm-2 control-label" >Nome</label>
				      <input type="text" class="form-control" id="nome" placeholder="Nome" th:field="*{nome}">
				    </div>
				    
				    
				    <div class="form-group col-md-4">
				      <label for="dataNascimento" >Data Nascimento</label>
				      <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="Data Nascimento">
				    </div>
				  </div>
				  
				  <div class="form-row">
				  	<div class="form-group col-md-8" th:classappend="${#fields.hasErrors('endereco')} ? 'has-error'">
						<label for="endereco" class="col-sm-2 control-label" >Endereço: </label>
						<input type="text" class="form-control" id="endereco" th:field="*{endereco}" placeholder="Endereço"/>
					</div>
					<div class="form-group col-md-4">
						<label for="bairro" class="col-sm-2 control-label">Bairro: </label>
						<input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro"/>
						
					</div>
				  </div>
				  
				 <div class="form-row">	
					
					<div class="form-group col-md-4" th:classappend="${#fields.hasErrors('cidade')} ? 'has-error'">
						<label for="cidade" class="col-sm-2 control-label">Cidade: </label>
						<input type="text" class="form-control" id="cidade" th:field="*{cidade}"/>
					</div>
					
					<div class="form-group col-md-4">
						<label for="estado" class="col-sm-2 control-label">Estado: </label>
						<input type="text" class="form-control" id="estado" name="estado"/>
					</div>
					
					<div class="form-group col-md-4">
						<label for="cep" class="col-sm-2 control-label">CEP: </label>
						<input type="text" class="form-control" id="cep" name="cep"/>
					</div>
				</div>
				
				<div class="form-row">
					<div class="form-group col-md-4">
				      <label for="situacao" class="col-sm-2 control-label">Situação:</label>
				      <select id="situacao" class="form-control" name="situacao">
				        <option th:each="situacao : ${listSituacao}" th:value="${situacao}" th:text="${situacao.descricao}" ></option>
				      </select>
				    </div>
				    
				    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('valor')} ? 'has-error'">
						<label for="valor" class="col-sm-2 control-label">Valor</label>
						<input type="text" class="form-control" id="valor" th:field="*{valor}"/>
					</div>
					
				</div>

						
    			<div class="form-row">
	    			<div class="form-group col-md-8">
	    			
	    				<button type="submit" class="btn btn-primary">Cadastrar</button>
		    			<button type="button" class="btn btn-danger">Cancelar</button>
		    			<button type="button" class="btn btn-secondary">Voltar</button>
		    		</div>
    			</div>

				</div>
				
				
				
				
			</div>
		</form>
	</section>
		
		
	


</html>
