<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorator="~{layout/LayoutPadrao}">

<head>

    <title>Lista de Usuarios</title>

</head>

	<section layout:fragment="conteudo">
		<h1></h1>
		
		<div class="panel panel-default">
				<div class="panel-heading">
					Lista de Usuários
					<a href="/projeto/usuarios/novoUsuario"><i class="fa fa-dashboard fa-fw"></i>Cadastro</a>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="text-center col-md-1">#</th>
								<th class="text-center col-md-4">Nome</th>
								<th class="text-center col-md-2">Data Nascimento</th>
								<th class="text-center col-md-2">Valor</th>
								<th class="text-center col-md-1">Situação</th>
								<th class="col-md-1"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="titulo : ${titulos}">
								<td class="text-center" th:text="${titulo.codigo}">1</td>
								<td class="text-center" th:text="${titulo.nome}"></td>
								<td class="text-center" th:text="${{titulo.dataNascimento}}"></td>
								<td class="text-center" th:text="|R$ ${titulo.valor}|"></td>
								<td class="text-center" >
									<span class="label" th:text="${titulo.situacao.descricao}"
									th:classappend="${titulo.labelSituacao}" ></span>
								</td>
								<td class="text-center">
									<a class="btn btn-link btn-xs" href="/projeto/usuarios/4">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
								</td>
								
							</tr>
							<tr>
								<td colspan="8" th:if="${#lists.isEmpty(titulos)}">Nenhum usuário foi encontrado.</td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>		
	</section>
		
		
	


</html>
